/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base */
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #0f0b08;
  color: #fff7e8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Buttons */
button {
  cursor: pointer;
  font-family: inherit;
}

/* Inputs */
input,
textarea,
select {
  font-family: inherit;
  outline: none;
}

/* Scrollbar (optional premium look) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0f0b08;
}

::-webkit-scrollbar-thumb {
  background: #ffb703;
  border-radius: 10px;
}